// MASTER SASS FILE

// IMPORTS
@import "../helpers/_reset.scss";

// MASTER CONTROLS
body {
  background-color: #DDD;
  color: black;
}

// img {
//   height: 400px;
//   width: 400px;
// }

.jumbotron {
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
}

.navbar {
  background-color: #BBB;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
  border-radius: 3px;
  margin-top: -32.5px;
  padding: 45px;
  font-size: 19px;
  
}

ul {
    list-style-type: none;
    padding: 0;
    text-decoration: underline;
}

li {
    display: inline;
    margin-right: 65px;
}

